:root {
    --dark-gray: #1a1a1a;
    --gray: #282828;
    --light-gray: #2f2f2f;
    --green: #00FF33;
    --light-green: #66FF66;
    --amber: #FFB000;
    --light-amber: #FFCC00;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Bitcount Grid Double", 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: var(--amber);
    box-shadow: 6px 6px 6px rgb(0, 0, 0, 0.6);
    height: 75px;
}

main {
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: var(--light-amber);
}

footer{
    background-color: var(--light-amber);
    font-family: "Montserrat", serif;
    padding: 10px;
}

.frame {
    border: 2px solid black;
    padding: 20px;
    width: 330px;
    height: 500px;
    border-radius: 20px;
    background-color: var(--light-gray);
    box-shadow: 6px 6px 6px rgb(0, 0, 0, 0.6);
}

.glass {
    border: solid 2px rgb(0, 0, 0);
    box-shadow: inset 2px 2px 2px rgb(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    height: 70px;
    background-color: var(--light-green);
}

ul {
    list-style: none;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    gap: 10px;
}

button {
    height: 65px;
    width: 65px;
    border-radius: 20px;
    font-family: "Montserrat", serif;
    font-size: large;
    font-weight: 900;
    color: var(--light-amber);
    background-color: var(--gray);
    box-shadow: 3px 3px rgb(0, 0, 0, 0.7);
}

button:hover {
    background-color: var(--light-gray);
    box-shadow: 3px 3px rgb(0, 0, 0, 0.6);
}

button:active {
    background-color: var(--dark-gray);
    box-shadow: none;
}

.row {
    display: flex;
    gap: 15px;
}

.row.one {
    margin-left: 160px;
}

